{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="{% static 'img1/apple-icon.png' %}">
  <link rel="icon" type="image/png" href="{% static 'img1/favicon.png' %}">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    Nittan
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
  <!-- CSS Files -->
  <link href="{% static 'css1/bootstrap.min.css' %}" rel="stylesheet" />
  <link href="{% static 'css1/paper-dashboard.css' %}" rel="stylesheet" />
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link href="{% static 'demo/demo.css' %}" rel="stylesheet" />
</head>

<body class="">
  <div class="wrapper ">
    <div class="sidebar" data-color="black" data-active-color="danger">
      <!--
        Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
    -->
      <div class="logo">
        <a href="" class="simple-text logo-mini">
          <div class="logo-image-small">
            {% comment %} <img src="{% static 'img/logo-small.png' %}"> {% endcomment %}
          </div>
        </a>
        <a href="#" class="simple-text logo-normal">
          Welcome
          
        </a>
      </div>
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li class="active ">
            <a href="">
              <p>Dashboard</p>
            </a>
          </li>
          <li>
          <a href="{% url 'Nittan:verified' %}">Verified Business</a>
          </li>
          
        </ul>
      </div>
    </div>
    <div class="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <div class="navbar-toggle">
              <button type="button" class="navbar-toggler">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
              </button>
            </div>
            <a class="navbar-brand" href="">Investor Dashboard</a>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
          </button>
        {% if user.is_authenticated %}
          <div class="collapse navbar-collapse justify-content-end" id="navigation">
            
            <ul class="navbar-nav">
              
              <li class="nav-item btn-rotate dropdown">
              </li>
              <li><p>Welcome {{ user.get_username }}</p></li><hr>
              <li><p style="margin-left:25px" ><a href="{% url 'Nittan:logout' %}">Logout</a></p></li>
              <li class="nav-item">
         
              </li>
            </ul>
          </div>
        {% endif %}
        </div>
      </nav>
      <!-- End Navbar -->
      <!-- <div class="panel-header panel-header-lg">
  
  <canvas id="bigDashboardChart"></canvas>
  
  
</div> -->
      <div class="content">
        <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats" style="background-color:#E6E6FA">
              <div class="card-body ">
                <div class="row">
                  <div class="col-5 col-md-4">
                    <div class="icon-big text-center icon-warning">
                      
                    </div>
                  </div>
                  <div class="col-7 col-md-8">
                    <div class="numbers">
                      <p class="card-category">Investment</p>
                      <b class="card-category">
                      {% for i in iDetail %}
                      {{i.Investment}}
                        </b>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-footer ">
                <hr>
                <div class="stats">
                 
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats" style="background-color:#E6E6FA">
              <div class="card-body ">
                <div class="row">
                  <div class="col-5 col-md-4">
                    <div class="icon-big text-center icon-warning">
                     
                    </div>
                  </div>
                  <div class="col-7 col-md-8">
                    <div class="numbers">
                      <p class="card-category">Earnings</p>
                      <b class="card-category">{{i.Earnings}}
                        </b>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-footer ">
                <hr>
                <div class="stats">
                  
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats" style="background-color:#E6E6FA">
              <div class="card-body ">
                <div class="row">
                  <div class="col-5 col-md-4">
                    <div class="icon-big text-center icon-warning">
                     
                    </div>
                  </div>
                  <div class="col-7 col-md-8">
                    <div class="numbers">
                      <p class="card-category">Invested Company</p>
                      <b class="card-category">{{i.investedCompanyName}}</b>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-footer ">
                <hr>
                <div class="stats">
               
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats" style="background-color:#E6E6FA">
              <div class="card-body ">
                <div class="row">
                  <div class="col-5 col-md-4">
                    <div class="icon-big text-center icon-warning">
                      
                    </div>
                  </div>
                  <div class="col-7 col-md-8" >
                    <div class="numbers">
                      <p class="card-category">Company Invested in</p>
                      <b class="card-category">{{i.noOfCompanyInvested}}
                        </b>
                        {% endfor %}
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-footer ">
                <hr>
                <div class="stats">
                  
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="card ">
              <div class="card-header ">
                <h5 class="card-title">Earnings</h5>
                <p class="card-category">Past months</p>
              </div>
              <div class="card-body ">
                   {{ div_figure|safe }}
              </div>
              <div class="card-footer ">
                <hr>
                <div class="stats">
                  
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5">
            <div class="card ">
              <div class="card-header ">
                <h5 class="card-title">Top Up your Account</h5>
                <p class="card-category">You can Top-up from Figi or Bank Teller</p>
              </div>
              <div class="card-body ">             
                <select id='modePayment'>
                <option value='test1'>Figi</option>
                <option value='test2'>Bank Teller</option>
                </select><br><br>
                <div class="test1 pricebox">
                <form method="post">
                  {% csrf_token %}
                  <h6>Amount:{{pDetail.Amount}}</h6>
                  <h6>Figi-ID:{{pDetail.figiID}}</h6>
                  <button type="submit">submit</button>
                </form>  
                </div>
                <div class="test2 pricebox">
                  <form method="post" enctype="multipart/form-data">
                  {% csrf_token %}
                  <h6>Amount:{{pDetail.Amount}}</h6>
                  <h6>Bank Teller:{{pDetail.Bank_Teller}}</h6>
                  <button type="submit">submit</button>
                </form></div>
              </div>
            </div>
          </div>
          
          <div class="col-md-7">
            <div class="card card-chart">
              <div class="card-header">
                <h5 class="card-title">Featured Companies</h5>
              </div>
              <div class="card-body">
                <marquee behaviour="scroll" direction="up" width="100%">
                {% for i in doc %}
                    <img src="{{MEDIA_URL}}{{ i.Business_Image }}" alt="Business_img" width="250" height="170" align="left">
					          <p><b>Business Name:</b>{{i.Name_of_Business}}</p>
					          <p><b>Description:</b>{{i.Business_Statement }}</p>
					          <p><b>ROI(Return on investment):</b>{{i.Percent}}%</p>
                    <br><br><br><br>
		            {% endfor %}
                </marquee>
              </div>
              <div class="card-footer">
                <hr/>
                
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer class="footer footer-black  footer-white ">
        <div class="container-fluid">
          <div class="row">
            <nav class="footer-nav">
              
            </nav>
            <div class="credits ml-auto">
              <span class="copyright">
                ©
                <script>
                  document.write(new Date().getFullYear())
                </script></i> Nittan
              </span>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </div>
  <!--   Core JS Files   -->
  <script src="{% static 'js1/core/jquery.min.js' %}"></script>
  <script src="{% static 'js1/core/popper.min.js' %}"></script>
  <script src="{% static 'js1/core/bootstrap.min.js' %}"></script>
  <script src="{% static 'js1/plugins/perfect-scrollbar.jquery.min.js' %}"></script>
  <!--  Google Maps Plugin    -->
  <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
  <!-- Chart JS -->
  <script src="{% static 'js1/plugins/chartjs.min.js' %}"></script>
  <!--  Notifications Plugin    -->
  <script src="{% static 'js1/plugins/bootstrap-notify.js' %}"></script>
  <!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="{% static 'js1/paper-dashboard.min.js' %}" type="text/javascript"></script>
  <!-- Paper Dashboard DEMO methods, don't include it in your project! -->
  <script src="{% static 'demo/demo.js' %}"></script>
  <script>
    $(document).ready(function() {
      // Javascript method's body can be found in assets/assets-for-demo/js/demo.js
      demo.initChartsPages();
    });
  </script>
  <script>
  $(document).ready(function(){
        $("select").change(function(){
        $(this).find("option:selected").each(function(){
        if($(this).attr("value")=="test1"){
            $(".pricebox").not(".test1").hide();
            $(".test1").show();
        }
        else if($(this).attr("value")=="test2"){
            $(".pricebox").not(".test2").hide();
            $(".test2").show();
        }
        else{
            $(".pricebox").hide();
        }
        });
    }).change();
    });
  </script>
</body>

</html>
